
body {
    background-image: url("hatter5.jpg");
    background-image: center center;
}

.cím{
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(201, 252, 255));
    color: rgb(211, 243, 252);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button{
    margin-left: 95%;
}

.button1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transform: scale(1.2, 1.2);
}

.képek{
    width: 200%;
    height: auto;
    margin-left: 30%;
    cursor: pointer;
}
.button2:hover{
    transform: translate(10px, 20px);
}

.jatekosok{
    margin-left: 40%;
}

.eredmenyek{
    margin-right: 30%;
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(201, 252, 255));
    margin-left: 30%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

